# Challenge 4YFN - MWC Barcelona 2022


## Background

Nuwefruit is a startup that wants to revolutionize people habit on everyday fruit intake. Because of this, the company is focused on home delivery, and thanks to its last mile optimization algorithm, has very low logistic costs. This lets Nuwefruit have lower prices than competition on selling fruits. Its catalog is based in more than 20 different types of fruit, the ones with better nutritional properties.

## Overview: the dataset and challenge

We will use two datasets:
 - Nuwefruit customer data
 - Order data from the customers
 
Customer data in 'CLIENT TABLE' with these variables:

**CLIENT ID**: Unique customer id
**CLIENT_SEGMENT**: Client segment  
**AVG CONSO**: Mean month consumption, calculated at the end of 2020 (pieces of fruit)
**AVG BASKET SIZE**: Mean basket size, calculated at the end of 2020 (pieces of fruit)
**RECEIVED_COMMUNICATION**: 1 = Recived a promotion / 0 = didn't receive a promotion

The 'CLIENT TABLE' dataset is [here](https://challenges-asset-files.s3.us-east-2.amazonaws.com/data_sets/Data-Science/4+-+events/mwc22/mwc22-client_table.csv)


Client orders 'ORDERS TABLE' with these variables:

**CLIENT ID**: Unique customer id  
**NB PRODS**: Number of 'prods' of the type of fruit (1 prod = 10 fruit pieces)  
**ORDER ID**: Unique order id  
**FRUIT_PRODUCT**: Type of fruit  
The  'ORDERS TABLE' dataset is [here](https://challenges-asset-files.s3.us-east-2.amazonaws.com/data_sets/Data-Science/4+-+events/mwc22/mwc22-orders_table.csv)

## Goals

- Make an EDA that lets you do: 
    - Analize sales and customer activity
    - Evaluate promotion impact 
- Make a predictive model that let us know the customer segment from the prediction variables used on [test_x](https://challenges-asset-files.s3.us-east-2.amazonaws.com/data_sets/Data-Science/4+-+events/mwc22/mwc22-client_table+-+test_x.csv). (We must predict the CLIENT_SEGMENT variable)

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from warnings import filterwarnings

from IPython.display import display, Markdown, Latex

filterwarnings('ignore')

import random

In [3]:
PATH = './'

SEED = 42 
random.seed(SEED)

## Loading the data

In [4]:
clients = pd.read_csv(PATH+'mwc22-client_table.csv', decimal=',')
orders = pd.read_csv(PATH+'mwc22-orders_table.csv', decimal=',')

dftest = pd.read_csv(PATH+'mwc22-client_table+-+test_x.csv', decimal=',')

## EDA

### First view on Data

### Clients

In [8]:
clients.head()

,CLIENT ID,CLIENT_SEGMENT,AVG CONSO,AVG BASKET SIZE,RECEIVED_COMMUNICATION
0,24321771,6,67.25,201.75,0
1,24321859,2,58.33,350.00,0
2,24321880,3,46.67,112.00,0
3,24321957,2,50.00,600.00,0
4,24321962,4,10.00,120.00,0

In [9]:
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35884 entries, 0 to 35883
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CLIENT ID               35884 non-null  int64
 1   CLIENT_SEGMENT          35884 non-null  int64
 2   AVG CONSO               35884 non-null  float64
 3   AVG BASKET SIZE         35884 non-null  float64
 4   RECEIVED_COMMUNICATION  35884 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 1.4 MB

In [11]:
clients.describe().round(3)

,CLIENT ID,CLIENT_SEGMENT,AVG CONSO,AVG BASKET SIZE,RECEIVED_COMMUNICATION
count,3.588400e+04,35884.000,35884.000,35884.000,35884.000
mean,2.706058e+07,3.124,64.534,181.219,0.508
std,8.835076e+06,1.513,64.382,129.605,0.500
min,1.807311e+07,1.000,0.830,10.000,0.000
25%,2.053311e+07,2.000,20.830,100.000,0.000
50%,2.462190e+07,3.000,50.000,160.000,1.000
75%,3.298538e+07,4.000,88.170,225.000,1.000
max,4.836594e+07,6.000,2433.330,3400.200,1.000

### Orders

In [6]:
orders.head()

   CLIENT ID  NB PRODS   ORDER ID FRUIT_PRODUCT
0   18070505         5  671907264         Apple
1   18070505        10  671907264        Orange
2   18070505         5  671907264          Kiwi
3   18070505        10  671907264          Pear
4   18070505         5  671907264        Cheery

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66912 entries, 0 to 66911
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CLIENT ID      66912 non-null  int64
 1   NB PRODS       66912 non-null  int64
 2   ORDER ID       66912 non-null  int64
 3   FRUIT_PRODUCT  66912 non-null  object
dtypes: int64(3), object(1)
memory usage: 2.0+ MB

In [13]:
# We convert prods to units
orders['NB_UNITS'] = orders['NB PRODS'] * 10

In [14]:
orders.describe()

          CLIENT ID      NB PRODS      ORDER ID      NB_UNITS
count  6.691200e+04  66912.000000  6.691200e+04  66912.000000
mean   2.613407e+07      4.528112  6.722533e+08     45.281115
std    8.473596e+06      5.788227  3.205826e+06     57.882265
min    1.807050e+07    -80.000000  6.638335e+08   -800.000000
25%    2.017427e+07      1.000000  6.694803e+08     10.000000
50%    2.438055e+07      3.000000  6.719971e+08     30.000000
75%    2.538708e+07      5.000000  6.750893e+08     50.000000
max    4.836586e+07    198.000000  6.832132e+08   1980.000000